@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "MonumentExtended";
  src: url("/fonts/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MonumentExtended";
  src: url("/fonts/MonumentExtended-Ultrabold.ttf") format("truetype");
  font-weight: ultrabold;
  font-style: normal;
}

@font-face {
  font-family: "MonumentExtendedUltraBold";
  src: url("/fonts/MonumentExtended-Ultrabold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixeled";
  src: url("/fonts/Pixeled.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fdc749;
  font-family: "MonumentExtended", sans-serif;
}

.pixel-font {
  font-family: "Press Start 2P", cursive;
}

.pixeled-font {
  font-family: "Pixeled", monospace;
}

.font-monument {
  font-family: "MonumentExtended", sans-serif !important;
}

.font-monument-ultra {
  font-family: "MonumentExtendedUltraBold", "MonumentExtended", sans-serif !important;
  font-weight: normal !important;
  text-transform: uppercase;
}
