@import "tailwindcss";

@font-face {
    font-family: "MonumentExtended";
    src: url("/fonts/MonumentExtended-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #FBBF31;
    font-family: "MonumentExtended", sans-serif;
}
