---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <p class="text-black text-center text-4xl mt-4 font-extrabold font-monument">THIS IS</p>
    <img src="/images/LOGOTIPO_GRAY.png" alt="Gallery" class="w-89 md:w-120 lg:w-160 h-auto mx-auto mt-4" />
</Layout>