---
import ButtonsGif from '../components/ButtonsGif.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="relative w-full h-full bg-cover bg-center flex flex-col items-center justify-center">
        <div class="absolute inset-0 w-[90%] sm:w-[85%] md:w-[75%] lg:w-[70%] h-[80%] sm:h-[75%] md:h-[80%] lg:h-full ml-[5%] sm:ml-[7.5%] md:ml-[12.5%] lg:ml-[15%]">
            <img src="/images/LOGOTIPO_BLACK.png" 
                 class="w-full h-full object-contain object-[center_20%] lg:object-[center_5%] xxl:object-[center_0%]" 
                 alt="Logotipo" />
        </div>
        <ButtonsGif />
    </div>
</Layout>
