---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="relative w-full h-full overflow-hidden">
    <video 
      autoplay 
      loop 
      muted 
      playsinline
      class="absolute top-0 left-0 bottom-[-100px] right-0 w-full h-full object-cover z-0"
    >
      <source src="/videos/FRONT_VIDEO.mp4" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>
  </main>
</Layout>
