---
import ButtonsGif from '../components/ButtonsGif.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="relative w-full h-screen bg-cover flex flex-col items-center justify-center 
                bg-[80%_center] md:bg-[100%_center]"
         style="background-image: url('/images/Veterans_BURN_bucle.gif');">
        
        <ButtonsGif />
    </div>
</Layout>
