---

---

<div class="flex w-full mt-20 sm:mt-28 justify-center sm:justify-center">
    <div class="flex flex-row items-center gap-1.5 sm:gap-2 sm:mb-3 md:gap-8 lg:gap-12 xl:gap-16 xl:-mt-20 2xl:mt-32">
        <button class="bg-[#FBBF31] text-black font-bold text-sm sm:text-sm md:text-lg xl:text-lg 2xl:text-2xl py-2 sm:py-2 md:py-3 xl:py-3 2xl:py-5 px-4 sm:px-4 md:px-6 xl:px-6 2xl:px-10 rounded-md border-2 border-black hover:bg-gray-300 relative z-20">
            <a href="https://www.tensor.trade/trade/veterans" class="relative z-20">GET YOUR VETS</a>
        </button>
        <button class="bg-[#FBBF31] text-black font-bold text-sm sm:text-sm md:text-lg xl:text-lg 2xl:text-2xl py-2 sm:py-2 md:py-3 xl:py-3 2xl:py-5 px-4 sm:px-4 md:px-6 xl:px-6 2xl:px-10 rounded-md border-2 border-black hover:bg-gray-300 relative z-20 group">
            <a href="https://partner.blofin.com/d/veterans" class="relative z-20">TRADING CREW</a>
            <div class="absolute top-full left-1/2 transform -translate-x-1/2 mt-2 px-6 py-4 bg-black text-white text-xs rounded-md opacity-0 invisible sm:group-hover:opacity-100 sm:group-hover:visible transition-all duration-200 max-w-[400px] w-[90vw] z-[9999] pointer-events-none">
                <p class="mb-3">Create a Blofin account and join the Veterans Crew Trading Group!</p>
                <p class="mb-3">15% cashback on your trading fees</p>
                <p class="mb-3">The rest fuels the Veterans Treasury</p>
                <p class="mb-3">Exclusive benefits & community-driven growth</p>
                <p>Trade smart. Build together.</p>
                <div class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rotate-45 w-2 h-2 bg-black"></div>
            </div>
        </button>
    </div>
</div>

