---

---

<div class="flex w-full mt-46 justify-center sm:justify-start">
    <div class="flex flex-row items-center gap-4 sm:ml-[13%] mb-3">
        <button class="bg-[#FBBF31] text-black font-bold text-sm py-2 px-4 rounded-md border border-black hover:bg-gray-300">
            <a href="https://www.tensor.trade/trade/veterans">Get Your Vets</a>
        </button>
        <button class="bg-[#FBBF31] text-black font-bold text-sm py-2 px-4 rounded-md border border-black hover:bg-gray-300">
            <a href="/">Veterans Labs</a>
        </button>
    </div>
</div>
