---

---

<div class="flex w-full mt-46 justify-center sm:justify-center">
    <div class="flex flex-row items-center gap-2 sm:mb-3 md:gap-4 xl:mt-20 2xl:mt-32">
        <button class="bg-[#FBBF31] text-black font-bold text-sm md:text-lg py-2 md:py-3 px-4 md:px-6 rounded-md border-2 border-black hover:bg-gray-300">
            <a href="https://www.tensor.trade/trade/veterans">GET YOUR VETS</a>
        </button>
        <button class="bg-[#FBBF31] text-black font-bold text-sm md:text-lg py-2 md:py-3 px-4 md:px-6 rounded-md border-2 border-black hover:bg-gray-300">
            <a href="/">VETERANS LABS</a>
        </button>
    </div>
</div>

