---

---

<div class="flex w-full mt-46">
    <div class="flex flex-row items-center gap-4 ml-[13%] ">
        <button class="bg-[#FBBF31] text-black font-bold text-sm py-2 px-4 rounded-md border border-black">
            <a href="">VETERANS LABS</a>
        </button>
        <button class="bg-[#FBBF31] text-black font-bold text-sm py-2 px-4 rounded-md border border-black">
            <a href="">INVENTORY</a>
        </button>
    </div>
</div>
