---
interface Props {
    lang: string;
    t: {
        languageLabel: string;
        languageOptions: Record<string, string>;
        navbar: Record<string, string>;
        footer: Record<string, string>;
    };
    languages: { code: string; label: string }[];
}

const { lang, t, languages } = Astro.props as Props;
---

<footer class="w-full flex flex-col items-center justify-center  text-center z-2 shadow-md relative">
    <div class="absolute top-[0px] left-0 w-full h-1 bg-black mb-4"></div>

    <div class="relative flex gap-2 mb-2 z-0 top-[-10px]">
        <img 
            src="/images/Icono_X.svg" 
            alt="X"
            class="w-8 h-8 cursor-pointer bg-[#FBBF31] border border-black rounded-md border-b-[4px] border-r-[3px] p-[3px] transition-all hover:scale-110 hover:bg-gray-300"
            data-url='https://twitter.com/veterans_crew' 
        />
        <img 
            src="/images/Icono_Discor.svg" 
            alt="Discord"
            class="w-8 h-8 cursor-pointer bg-[#FBBF31] border border-black rounded-md border-b-[4px] border-r-[3px] p-[3px] transition-all hover:scale-110 hover:bg-gray-300"
            data-url='https://discord.gg/2RXHF6Tw7a' 
        />
        <img 
            src="/images/drip.png" 
            alt="Drip" 
            class="w-8 h-8 cursor-pointer bg-[#FBBF31] border border-black rounded-md border-b-[4px] border-r-[3px] p-[3px] transition-all hover:scale-110 hover:bg-gray-300"
            data-url='https://drip.haus/veterans'
        />
        <img 
            src="/images/Icono_Atlas.svg" 
            alt="Atlas" 
            class="w-8 h-8 cursor-pointer bg-[#FBBF31] border border-black rounded-md border-b-[4px] border-r-[3px] p-[3px] transition-all hover:scale-110 hover:bg-gray-300"
            data-url='https://atlas3.io/project/veterans' 
        />
    </div>

    <div class="text-black font-bold text-xs mb-2">
       <a href="/" class="hover:text-gray-200 transition">{t.footer.vault}</a> /
        <a href="/gallery" class="hover:text-gray-200 transition">{t.footer.gallery}</a> 
    </div>

    <div class="flex items-center gap-2 text-black text-[10px] pb-2">
        <img class="w-5 h-auto" src="/images/Isotipo_Negro.svg" alt="Veterans Logo" />
        <p>{t.footer.rights}</p>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("img[data-url]").forEach(img => {
            img.addEventListener("click", function (this: HTMLImageElement) {
                const url = this.getAttribute("data-url");
                if (url) {
                    window.open(url, "_blank");
                }
            });
        });
    });
</script>