---

---

<footer class="relative flex flex-col items-center justify-center  py-10 px-4 text-center">
    <!-- Margen que cruza detrás de los iconos -->
    <!-- Línea negra detrás de los iconos -->
<div class="absolute top-[30%] left-0 w-full h-1 bg-black -translate-y-1/2 z-0"></div>

<!-- Iconos sociales con estilos de borde y efecto hover en Tailwind -->
<div class="relative flex gap-6 mb-6 z-10">
    <img 
        src="/images/Icono_X.svg" 
        alt="X"
        class="w-10 h-10 cursor-pointer bg-[#FBBF31] border border-black rounded-md border-b-[6px] border-r-[5px] p-[4px] transition-all hover:scale-110 hover:bg-white"
        onclick="handleRedirect('https://twitter.com/veterans_crew')" 
    />
    <img 
        src="/images/Icono_Discor.svg" 
        alt="Discord"
        class="w-10 h-10 cursor-pointer bg-[#FBBF31] border border-black rounded-md border-b-[6px] border-r-[5px] p-[4px] transition-all hover:scale-110 hover:bg-white"
        onclick=handleRedirect('https://discord.com/invite/veterans') 
    />
    <img 
        src="/images/Icono_Exchange Art.svg" 
        alt="ExchangeArt" 
        class="w-10 h-10 cursor-pointer bg-[#FBBF31] border border-black rounded-md border-b-[6px] border-r-[5px] p-[4px] transition-all hover:scale-110 hover:bg-white"
        onclick="handleRedirect('https://exchange.art/veterans/nfts')" 
    />
    <img 
        src="/images/Icono_Atlas.svg" 
        alt="Atlas" 
        class="w-10 h-10 cursor-pointer bg-[#FBBF31] border border-black rounded-md border-b-[6px] border-r-[5px] p-[4px] transition-all hover:scale-110 hover:bg-white"
        onclick="handleRedirect('https://atlas3.io/project/veterans')" 
    />
</div>

</div>



    <!-- Enlaces -->
    <div class="text-black font-bold text-sm mb-4">
        <a href="/" class="hover:text-gray-200 transition">HOME</a> / 
        <a href="/linking" class="hover:text-gray-200 transition">LABS</a> / 
        <a href="/inventory" class="hover:text-gray-200 transition">VAULT</a>
    </div>

    <!-- Copyright -->
    <div class="flex items-center gap-3 text-black text-xs">
        <img class="w-6 h-auto" src="/images/Isotipo_Negro.svg" alt="Veterans Logo" />
        <p>&copy; 2025 Veterans. All rights reserved.</p>
    </div>
</footer>


   <script>
    function handleRedirect(url:string) {
    const newWindow = window.open(url, '_blank');
    if (newWindow) newWindow.opener = null;
}
   </script>

