---

---

<footer class="fixed bottom-0 left-0 w-full flex flex-col items-center justify-center py-6 px-4 text-center z-50 shadow-md">
    <div class="absolute top-[30%] left-0 w-full h-1 bg-black -translate-y-1/2 z-0"></div>

    <div class="relative flex gap-6 mb-4 z-10">
        <img 
            src="/images/Icono_X.svg" 
            alt="X"
            class="w-8 h-8 cursor-pointer bg-[#FBBF31] border border-black rounded-md border-b-[4px] border-r-[3px] p-[3px] transition-all hover:scale-110 hover:bg-gray-300"
            data-url='https://twitter.com/veterans_crew' 
        />
        <img 
            src="/images/Icono_Discor.svg" 
            alt="Discord"
            class="w-8 h-8 cursor-pointer bg-[#FBBF31] border border-black rounded-md border-b-[4px] border-r-[3px] p-[3px] transition-all hover:scale-110 hover:bg-gray-300 z-10"
            data-url='https://discord.gg/2RXHF6Tw7a' 
        />
        <img 
            src="/images/drip.png" 
            alt="Drip" 
            class="w-8 h-8 cursor-pointer bg-[#FBBF31] border border-black rounded-md border-b-[4px] border-r-[3px] p-[3px] transition-all hover:scale-110 hover:bg-gray-300"
            data-url='https://drip.haus/veterans'
        />
        <img 
            src="/images/Icono_Atlas.svg" 
            alt="Atlas" 
            class="w-8 h-8 cursor-pointer bg-[#FBBF31] border border-black rounded-md border-b-[4px] border-r-[3px] p-[3px] transition-all hover:scale-110 hover:bg-gray-300"
            data-url='https://atlas3.io/project/veterans' 
        />
    </div>

    <div class="text-black font-bold text-xs mb-2">
        <a href="/" class="hover:text-gray-200 transition">HOME</a> / 
        <a href="/labs" class="hover:text-gray-200 transition">LABS</a> / 
        <a href="/inventory" class="hover:text-gray-200 transition">VAULT</a>
    </div>

    <div class="flex items-center gap-2 text-black text-[10px]">
        <img class="w-5 h-auto" src="/images/Isotipo_Negro.svg" alt="Veterans Logo" />
        <p>&copy; 2025 Veterans. All rights reserved.</p>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("img[data-url]").forEach(img => {
            img.addEventListener("click", function (this: HTMLImageElement) {
                const url = this.getAttribute("data-url");
                if (url) {
                    window.open(url, "_blank");
                }
            });
        });
    });
</script>