---


---
<nav class="relative flex items-center justify-center w-full py-4 border-b-3 border-gray-800 mt-3 shadow-md ">
    <div class="flex items-center text-black font-bold text-lg ">
        <a href="https://veterans-tools.solsuite.io/staking" 
           class="px-6 py-1 border-l-3 border-black ml-4">
            VAULT
        </a>
        <a href="#" 
           class="px-6 py-1 border-l-3 border-black border-r-3">
            VETERANS LABS
        </a>
    </div>
    <div class="absolute left-4">
        <a href="/">
            <img src="/images/Isotipo_Negro.svg" alt="logoVeterans" width="37" height="31" class="cursor-pointer mb-1" />
        </a>
    </div>
</nav>
